{% extends 'main/layout.html' %}

{% block title %}Главная{% endblock %}

{% block content %}
<form action="{% url 'registr_action' %}" method="get" style="border:1px solid #ccc">
    <div class="container">
      <h1>Регистрация</h1>
      <p>Заполняй поля</p>
      <hr>
  
      <label>
        <input type="radio" name="phy_or_yur" value="1">
        Физик
      </label>
      <br>
      <label>
        <input type="radio" name="phy_or_yur" value="2">
        Юрик
      </label>
      <br>

      <label for="email"><b>Email</b></label>
      <input type="text" placeholder="Тут твое мыло (не урони)" name="email" required>

      <label for="psw"><b>Пароль</b></label>
      <input type="password" placeholder="Например, 123456" name="psw" required>
  
      <label for="psw-repeat"><b>Повторить пароль</b></label>
      <input type="password" placeholder="Повтори, я не расслышал" name="psw-repeat" required>
  
      <label>
        <input type="checkbox" checked="checked" name="remember" style="margin-bottom:15px"> Remember me
      </label>
    
      <div class="clearfix">
        <button type="submit" class="signupbtn">Sign Up</button>
      </div>
    </div>
  </form>
  
{% endblock %}